<%-include("partials/header") %>
<!-- navbar -->

  <nav class="navbar navbar-expand-md navbar-dark  mb-4" style=" background-color: #a38b1e;position:fixed;top:0;width: 100%;">
  <h1 class="navbar-brand">Crab-Crab</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/logout">LogOut<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart/loadcart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/load/loadOrders">Orders</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li> -->
      <!-- <li class="nav-item">
         <a class="nav-link" href="#" >Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline mt-2 mt-md-0 ">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>


  </div>
</nav>

<!-- body -->
<div class="homeproducts" style="padding-top:50px;">
  <h3 class="section-heading">Gadgets</h3>
 <div class="icons">
   <a href="/home2/mobilebrands"><img style="margin-top:5px;height:170px;width:298px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSiFq2AIbmGPc2rWjo7-jgLpsgOAqdz29TzCw&usqp=CAU" alt="mobiles"></a>
   <a href="/home2/laptopbrands"><img style="margin-top:5px;height:170px;width:298px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQy9bWGapZm-HHnjNvLyuvi6nMCXWNR95ZX1A&usqp=CAU" alt="laptops"></a>
   <a href="/headphonebrands"><img style="margin-top:5px;height:170px;width:298px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPS9osMUY8RBIeTCmT4VsPxtFvKlUCnDlNvA&usqp=CAU" alt="headphones"></a>

 </div>

</div>
<div class="homeproducts">
  <h3 class="section-heading">Tvs & Appliances</h3>
  <div class="icons">
    <a href="#"><img style="margin-top:5px;height:170px;width:298px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQeAv8qkGOhZ_hU1d1-R_66OZtUCrf8dkffow&usqp=CAU" alt="TV"></a>
    <a href="#"><img style="margin-top:5px;height:170px;width:298px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTpYr9ZSn5Q5ZeVGzsuC5mIPn2XTk01CKa5Cw&usqp=CAU" alt="Air-conditioner"></a>
    <a href="#"><img style="margin-top:5px;height:170px;width:298px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQzd20RXpmuxS4jmqF2W9MPiJYNAZ3rk_fLpQ&usqp=CAU" alt="set-top-box"></a>

  </div>
</div>
<div class="homeproducts">
  <h3 class="section-heading">Clothings</h3>
  <div class="icons">
    <a href="#"><img style="margin-top:5px;height:170px;width:298px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTkG3T_hws6CDqHasf_W6GmfLkfjZ2ha4IQAg&usqp=CAU" alt="kids"></a>
    <a href="#"><img style="margin-top:5px;height:170px;width:298px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQJDaHdtWh39D1gGv6iSWg0dpH_mPb6eZ13KQ&usqp=CAU" alt="men"></a>
    <a href="#"><img style="margin-top:5px;height:170px;width:298px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSjDV0RTHzl4cP49A6NISAnaDHLQajMAUMo8g&usqp=CAU" alt="women"></a>

  </div>

</div>
<div class="homeproducts">
  <h3 class="section-heading">Gym-Kits</h3>
  <div class="icons">
    <a href="#"><img  style="margin-top:5px; height:170px;width:298px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSf8t9szR_NGpAQ6TNjOqCoM86v9-eXLfxAWA&usqp=CAU" alt="mobiles"></a>
    <a href="#"><img style="margin-top:5px; height:170px;width:298px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTUoTi68j2YdF3QnPkUoHFj3T3NdmaD6nSoKA&usqp=CAU" alt="laptops"></a>
    <a href="#"><img style="margin-top:5px; height:170px;width:298px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTh90s30xGGG6PYPx3Q5BG2U3vGBGKu8G_kRQ&usqp=CAU" alt="headphones"></a>

  </div>

</div>
<div class="homeproducts">
  <h3 class="section-heading">Home & Furniture</h3>
  <div class="icons">
    <a href="#"><img style="margin-top:5px; height:170px;width:298px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTlNGVO4zRO6Bir1dTh9p6m07cw4dh8s0AB7g&usqp=CAU" alt="mobiles"></a>
    <a href="#"><img style="margin-top:5px; height:170px;width:298px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRkQi2WJ8YDoZ57Tv3mzqhc5yTcgOoxRQiwDA&usqp=CAU" alt="laptops"></a>
    <a href="#"><img style="margin-top:5px; height:170px;width:298px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ5grvB7O-iesKe-2g9LO1OO5xJUw1CJJVk2w&usqp=CAU" alt="headphones"></a>

  </di5

</div>

<!-- footer -->
<%- include("partials/footer")%>
