<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/d19ac2c7c5.js" crossorigin="anonymous"></script>
</head>
<body class="home">

    <div class="container homecontainer">
              <!-- <a class="" href="/login">Login<span class="sr-only">(current)</span></a> -->
              <h1 style="color:white; letter-spacing: 2px;">Crab-Crab</h1>
              <h4 style="color:white; letter-spacing: 1.5px; font-weight: 100;">the E-Com Web</h4>

              <h1 style="margin-bottom: 100px;"><i class="fas fa-shopping-cart fa-8x fa-spin"></i></h1>
              <button class="homebtn"> <a href="/login" >Login</a></button>
              <button class="homebtn"> <a href="/signup">Sign Up</a></button>
    </div>

</body>
</html>
